.reveal .slide-logo {
  max-height: 8.1rem !important;
  bottom: -2px;
  right: 10px;
}

.azul {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #007bff;
}

.verde {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #0ed10e;
}

.img-centro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px; /* ou use margin-left adicional se quiser deslocar */
  max-width: 60%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}




